<app-navbar></app-navbar>
<div class="container ">
  <div class="row aling-items-center">
    <div class="img-bg"></div>
    <div class="col">
      <div class="ilustracion">
        <img src="../../../assets/img/doc.jpg" alt="" srcset="">
      </div>
    </div>
    <div class="col">
      <app-nav-title></app-nav-title>
      <div class="container row">
        <div class="col">
          <h3 class="disable">
            <a routerLink="/ingresar">Ingresar</a>
           </h3>
          <div class="line"></div>
        </div>
        <div class="col">
          <h3 class="normal">
           <a routerLink="/registrar">Registrar</a>
          </h3>
        </div>
        <app-form-registrar></app-form-registrar>
      </div>
    </div>
  </div>
</div>
