.minav{
  align-items: center;
  color: #7E7E7E;
  font-weight: 900;
  font-size: large;
}
.minav>nav-item{
  margin-left: 10px;
}


.logo{
  margin-left: 10vw;
  margin-right: 8vw;
}
.logo img{
  height: 80px;
}
