

<div class="line"></div>
<form>
  <div class="mi-form">
    <div class="seg">
      <label class=" mi-label" for="inputEmail4">Nombre</label>
      <input type="" class="mi-entry-2" id="inputEmail4" placeholder="">
    </div>

    <div class="seg">
      <label class=" mi-label" for="inputEmail4">Apellidos</label>
      <input type="" class="mi-entry-2" id="inputEmail4" placeholder="">
    </div>

    <div class="seg">
      <label class="mi-label" for="inputEmail4">Correo</label>
      <input type="Email" class="mi-entry" id="inputEmail4" placeholder="">
    </div>

    <div class="seg">
      <label class=" mi-label" for="inputEmail4">Contraseña</label>
      <input type="" class="mi-entry-2" id="inputEmail4" placeholder="">
    </div>

    <div class="seg">
      <label class=" mi-label" for="inputEmail4">Fecha Nacimiento</label>
      <input type="" class="mi-entry-2" id="inputEmail4" placeholder="">
    </div>
    <div class="seg">
      <label class="mi-label" for="inputEmail4">Direccion</label>
      <input type="Email" class="mi-entry" id="inputEmail4" placeholder="">
    </div>
    <div class="seg">
      <label class="mi-label" for="inputEmail4">Telefono</label>
      <input type="Email" class="mi-entry-2" id="inputEmail4" placeholder="">
    </div>
    <div class="check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Soy doctor
      </label>
    </div>
    <div class="seg" id="cedula"  >
      <label class="mi-label" for="inputEmail4">Cedula Profesional</label>
      <input type="Email" class="mi-entry" id="inputEmail4" placeholder="">
    </div>

  </div>
  <button routerLink="/home" class="mi-btn">Registrar</button>
</form>
